<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header grey lighten-2">
      <h4 class="modal-title w-100 text-center" id="myModalLabel" style="font-weight: 500;font-size: 1.5rem;">Advertencia Aprobación</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="text-center">Se aprobará la solicitud de el estudiante <span style="font-weight: 500;font-size: 1.2rem;">{{solicitud.nombre}}</span></h5>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-lg btn-danger mr-4" data-dismiss="modal">Cerrar</button>
      <form action="{% url 'approve_solicitud' solicitud.pk TOKEN %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-lg btn-success ml-4" name="BtnSubmit" value="Aprobar"></input>
      </form>
    </div>
  </div>
</div>

<!-- TODO: REALIZAR VISTA MOVIL -->