<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header grey lighten-2">
      <h4 class="modal-title w-100 text-center" id="myModalLabel" style="font-weight: 500;font-size: 1.5rem;">Advertencia</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="text-center">¿Está seguro que desea eliminar su solicitud?</h5>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-default shadow-none btn-lg ml-5" data-dismiss="modal">Cerrar</button>
      <form action="{% url 'delete_solicitud' TOKEN %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn shadow-none mx-5 btn-danger btn-lg" name="BtnSubmit" value="Eliminar"></input>
      </form>
    </div>
  </div>
</div>
