<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header grey lighten-2">
      <h4 class="modal-title w-100 text-center" id="myModalLabel" style="font-weight: 500;font-size: 1.5rem;">Advertencia Rechazo</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
      <h5 class="text-center">Se rechazará la solicitud de el estudiante <span style="font-weight: 500;font-size: 1.2rem;">{{solicitud.nombre}}</span></h5>
      <form action="{% url 'reject_solicitud' solicitud.pk TOKEN %}" method="post">
      <div class="row">
        <div class="col-2"></div>
        <div class="form-group col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 ml-n4_custom mt-n2">
          <label for="id_rejected_reason" class="col-form-label pl-2 pb-0">Ingrese motivo:</label>
          <textarea class="validate form-control form-control-lg" id="id_rejected_reason" name="rejected_reason" rows="3" required></textarea>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-default shadow-none btn-lg" data-dismiss="modal">Cerrar</button>
        {% csrf_token %}
        <input type="submit" class="btn shadow-none mx-5 btn-danger btn-lg" name="BtnSubmit" value="Rechazar"></input>
      </form>
    </div>
  </div>
</div>
