{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% block Title %}
        <title>
            Prácticas EIT-UDP
        </title>
        {% endblock %}
    </head>

    <body>
        {% block Main %}
        <main>
          <div class="container">
            {% if error %}
            {% include 'error.html' %}
            {% else %}
            {% include 'messages.html' %}
            <div class="card mt-4">
              <div class="card-body">
                <h1 class="card-title">{{solicitud.nombre}}</h1>
                <h4 class="mt-n2"> {{solicitud.numero_practica}}</h4>
                <br/>
                <h4> Empresa: {{solicitud.nombre_empresa}}</h4>
                <h4> Inicio práctica: {{solicitud.inicio_practica}}</h4>
                <h4> Termino práctica: {{solicitud.termino_practica}}</h4>
                <h4> Estado de aprobación: </h4>
                <ul class="">
                  <li><h5>Coordinación de Prácticas de la EIT:
                    <span class="ml-2">
                      {% if solicitud.status_m %}
                      <i class="fas fa-check text-success fa-2x"></i>
                      {% else %}
                      <i class="fas fa-minus fa-lg"></i>
                  {% endif %}
                    </span>
                    </h5></li>
                  <li><h5>Coordinación de Vinculación Laboral:
                    <span class="ml-2">
                      {% if solicitud.status_v %}
                      <i class="fas fa-check text-success fa-2x"></i>
                      {% else %}
                      <i class="fas fa-minus fa-lg"></i>
                      {% endif %}
                    </span>
                  </h5></li>
                </ul>
                <br/>
                {% if solicitud.is_rejected %}
                <h3 style="color: red;"> Su solicitud fue rechazada por el siguiente motivo: {{solicitud.rejected_reason}} </h3>
                {% endif %}

                {% if solicitud.status_m == True and solicitud.status_v == True %}
                <h3 class="text-success"> Su solicitud de práctica fue aprobada. </h3>
                {% endif %}
                <br/>

                <button type="button" class="btn shadow-none btn-danger mr-3" onclick="return open_modal('{% url 'delete_solicitud' TOKEN %}')"> <span style="font-size: 1rem;">Eliminar</span> </button>
                {% if solicitud.is_rejected %}
                <a type="button" class="btn shadow-none btn-default" style="font-size: 1rem;" href="{% url 'solicitud_correction' TOKEN %}">Recorregir</a>

                {% else %}
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disponible en caso de ser rechazada la solicitud." >
                  <button type="button" class="btn shadow-none btn-default" style="font-size: 1rem;" disabled>Recorregir</button>
                </span>
                {% endif %}

              </div>

            </div>
            {% endif %}
          </div>
        </main>
        <div id="popup" class="modal" role="dialog"></div>
        {% endblock %}
    </body>
</html>

{% block js %}
<script type="text/javascript" src="{% static "js/tooltip.js" %}"></script>
<script type="text/javascript" src="{% static "js/modal.js" %}"></script>
{% endblock %}