{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block Title %}
<title>
    UDP - Solicitudes
</title>
{% endblock %}
{% block css %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/datatable.css' %}">
{% endblock %}
{% block Main %}
<main>
    <div class="container-fluid">
        {% if error %}
        {% include 'error.html' %}
        {% else %}
        {% include 'messages.html' %}
        <table id="dataTable">
            <thead class="thead_solicitudes">
                <tr>
                    <th scope="col" class="text-center">Rut</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Empresa</th>
                    <th scope="col" class="text-center">N° Práctica</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>

            {% for solicitud in solicitudes %}
                <tr class="text-center">
                    <td class="tablaFont" style="width: 15%"> {{ solicitud.rut }} </td>
                    <td class="tablaFont" style="width: 30%"> {{ solicitud.nombre }} </td>
                    <td class="tablaFont" style="width: 20%"> {{ solicitud.nombre_empresa }} </td>
                    <td class="tablaFont" style="width: 15%"> {{ solicitud.numero_practica}} </td>
                    <td style="width: 20%">
                        <div class="btn-group">
                            <button class="btn nohover transparentBG z-depth-0 black-text" data-placement="top" onclick="return open_modal('{% url 'solicitud_details' solicitud.pk TOKEN %}')" title="Más información"><i class="fas fa-info fa-2x"></i></button>
                            <button class="btn nohover transparentBG z-depth-0 green-text" onclick="return open_modal('{% url 'approve_solicitud' solicitud.pk TOKEN %}')" data-placement="top" title="Aprobar"><i class="fas fa-check fa-2x"></i></button>
                            <button class="btn nohover transparentBG z-depth-0 red-text" onclick="return open_modal('{% url 'reject_solicitud' solicitud.pk TOKEN %}')" data-placement="top" title="Rechazar"><i class="fas fa-times fa-2x"></i></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
<div id="popup" class="modal" role="dialog"></div>
{% endblock %}
</html>

{% block js %}
<script type="text/javascript" src="{% static "js/modal.js" %}"></script>
<script type="text/javascript" src="{% static "js/datatable.js" %}"></script>
{% endblock %}