{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block Title %}
  <title>
    Prácticas EIT-UDP
  </title>
  {% endblock %}
</head>

<body>
  {% block Main %}
  <main>
    <div class="container">
        {% if error %}
        {% include 'error.html' %}
        {% else %}
        {% if errors %}
        {% for error_value in errors %}
      <div class="alert alert-danger mt-3 alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 align="center">{{ error_value.as_text|safe }}</h4>
      </div>
      {% endfor %}
      {% endif %}
      <h1 class="text-center my-5 text-center"> Recorrección de Solicitud</h1>
      <form role="form" action="{% url 'solicitud_correction' TOKEN %}" autocomplete="off" method="post">
        {% csrf_token %}
        <div>
          <i class="fas fa-user fa-2x ml-n2 mr-3"></i> <span style=" font-size: 1.5rem !important;
          font-weight: bold;">Datos personales</span>
        </div>
        <br />
        <div class="form-row mt-n3">
          <div class="md-form col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4">
            <input id="id_nombre" name="nombre" type="text" class="validate form-control form-control-lg spaceinputlabel"
              value="{{form.nombre.value}}" readonly>
            <label for="id_nombre">Alumno</label>
          </div>

          <div class="md-form col-12 col-sm-4 col-md-6 col-lg-4 col-xl-4">
            <input id="id_rut" name="rut" type="text" class="validate form-control form-control-lg spaceinputlabel" value="{{form.rut.value}}" readonly>
            <label for="id_rut">RUT</label>
          </div>


          <div class="md-form col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <input id="id_email" name="email" type="email" class="validate form-control form-control-lg spaceinputlabel" value="{{form.email.value}}" readonly>
            <label for="id_email" data-error="wrong" data-success="right">Correo electrónico</label>
          </div>

          <div class="md-form col-6 col-sm-3 col-md-6 col-lg-4 col-xl-4">
            {{form.telefono}}
            <label for="id_telefono">Teléfono fijo</label>
          </div>

          <div class="md-form col-6 col-sm-3 col-md-6 col-lg-4 col-xl-4">
            {{form.celular}}
            <label for="id_celular">Celular</label>
          </div>

          <div class="md-form col-12 col-sm-3 col-md-6 col-lg-4 col-xl-4">
            {{form.started_year}}
            <label for="id_started_year">Año ingreso</label>
          </div>

          <div class="md-form col-12 col-sm-9 col-md-7 col-lg-5 col-xl-5">
            <input id="id_carrera" name="carrera" placeholder="Carrera" type="text"
              class="validate form-control form-control-lg spaceinputlabel" readonly value="Ingeniería Civil en Informática y Telecomunicaciones">
            <label for="id_carrera">Carrera</label>
          </div>

          <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-1">
          </div>

          <label for="id_numero_practica" class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-form-label mr-n4 mt-3">Práctica Número:</label>
          <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2 mt-3">
            {{form.numero_practica}}
          </div>
        </div>

        <br />
        <br />
        <br />
        <div>
          <i class="fas fa-city fa-2x ml-n2 mr-3"></i> <span style=" font-size: 1.5rem !important;
          font-weight: bold;">Empresa</span>
        </div>

        <br />
        <div class="form-row">
          <div class="md-form col-12 col-sm-6 col-md-8 col-lg-4 col-xl-4">
            {{form.nombre_empresa}}
            <label for="id_nombre_empresa">Nombre</label>
          </div>
          <div class="md-form col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            {{form.rubro_empresa}}
            <label for="id_rubro_empresa">Rubro</label>
          </div>
          <div class="md-form col-12 col-sm-8 col-md-8 col-lg-5 col-xl-5">
            {{form.direccion_empresa}}
            <label for="id_direccion_empresa">Dirección</label>
          </div>

          <div class="md-form col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            {{form.website_empresa}}
            <label for="id_website_empresa">Website</label>
          </div>
          <div class="md-form col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mt-2 ml-3 mr-n3 pl-0">
            <p class="custom-label nopadding" for="id_pais">País</p>
            <div class="w-85">{{form.pais}}</div>
          </div>
          <div class="md-form col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            {{form.region_empresa}}
            <label for="id_region_empresa">Región</label>
          </div>
          <div class="md-form col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            {{form.ciudad_empresa}}
            <label for="id_ciudad_empresa">Ciudad</label>
          </div>

          <div class="md-form col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            {{form.contacto}}
            <label for="id_contacto">Contacto</label>
          </div>
          <div class="md-form col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            {{form.cargo_contacto}}
            <label for="id_cargo_contacto">Cargo</label>
          </div>
          <div class="md-form col-12 col-sm-12 col-md-6 col-lg-4 col-xl-6">
            {{form.email_contacto}}
            <label for="id_email_contacto" data-error="wrong" data-success="right">Correo electrónico</label>
          </div>

          <div class="md-form col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            {{form.telefono_contacto}}
            <label for="id_telefono_contacto">Teléfono</label>
          </div>
          <div class="md-form col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            {{form.fax_contacto}}
            <label for="id_fax_contacto">FAX</label>
          </div>

          <!-- Visible only on sm	 -->
          <div class="d-none d-sm-block d-md-none col-sm-4 col-md-2 col-lg-2 col-xl-2 my-4">
            <a href="#" for="id_trabaja_empresa" onclick="return false;" data-toggle="tooltip" class="col-form-a mr-2" title="Si Ud. es empleado en la empresa que postula, debe de indicar las actividades que competen en su puesto, y las que realizará como parte de la práctica. Las últimas deben tener la complejidad requerida dentro del tipo de práctica que solicita.">¿Trabaja aqui?</a>
            {{form.trabaja_empresa}}
          </div>

          <label for="id_empleados_empresa" class="col-8 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-form-label mt-4 pl-4"
            style="height:50% !important">Total empleados empresa: </label>
          <div class="md-form col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 mt-3">
            {{form.empleados_empresa}}
          </div>

          <label for="id_empleados_IT" class="col-8 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-form-label pl-3 mr-n5 mt-4"
            style="height:50% !important;">Total empleados IT: </label>
          <div class="md-form col-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 mt-3">
            {{form.empleados_IT}}
          </div>

          <div class="d-sm-none d-md-block col-5 col-md-2 col-lg-2 col-xl-2 my-4">
            <a href="#" for="id_trabaja_empresa" onclick="return false;" data-toggle="tooltip" class="col-form-a mr-2" title="Si Ud. es empleado en la empresa que postula, debe de indicar las actividades que competen en su puesto, y las que realizará como parte de la práctica. Las últimas deben tener la complejidad requerida dentro del tipo de práctica que solicita.">¿Trabaja aqui?</a>
            {{form.trabaja_empresa}}
          </div>

          <div class="form-group col-12 col-sm-12 col-md-11 col-lg-9 col-xl-9 mt-n2">
            <label for="id_descripcion" class="col-form-label pl-2 pb-0">Descripción de la empresa</label>
            {{form.descripcion}}
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <div>
          <i class="fas fa-hard-hat fa-2x ml-n2 mr-4"></i><span style=" font-size: 1.5rem !important;
          font-weight: bold;" data-toggle="tooltip"  title="Si Ud. es empleado en la empresa que postula, debe de indicar las actividades que competen en su puesto, y las que realizará como parte de la práctica. Las últimas deben tener la complejidad requerida dentro del tipo de práctica que solicita.">Práctica <sup>*</sup></span>
        </div>
        <br />
        <div class="form-row">
          <span class="col-form-label col-8 col-sm-6 col-md-4 col-lg-3 col-xl-3 mr-n5">Fecha estimada de inicio:</span>
          <div class="md-form col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2 ml-n3 mt-n1">
            <span>{{form.inicio_practica}}</span>
          </div>

          <div class="col-md-1 col-lg-2 col-xl-1"></div>

          <span class="col-form-label col-8 col-sm-6 col-md-4 col-lg-3 col-xl-3">Fecha estimada de termino:</span>
          <div class="md-form col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2 ml-n4 mt-n1">
            {{form.termino_practica}}
          </div>

          <label for="id_horas_diarias" class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-form-label">Horas diarias: </label>
          <div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 md-form mt-0 ml-n5">
            {{form.horas_diarias}}
          </div>

          <div class="col-12 col-sm-12 col-md-7 col-lg-9 col-xl-9 ml-5">
            <span for="id_dias_trabajo" class="col-form-label">Días a trabajar:</span>
            <div id="id_dias_trabajo">
            {% if 'LU' in days %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_0" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="LU" id="id_dias_trabajo_0"
                    class="form-check-input" checked />
                  Lunes
                </label>
              </div>
            {% else %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_0" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="LU" id="id_dias_trabajo_0"
                    class="form-check-input" />
                  Lunes
                </label>
              </div>
            {% endif %}
            {% if 'MA' in days %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_1" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="MA" id="id_dias_trabajo_1"
                    class="form-check-input" checked/>
                  Martes
                </label>
              </div>
            {% else %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_1" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="MA" id="id_dias_trabajo_1"
                    class="form-check-input" />
                  Martes
                </label>
              </div>
            {% endif %}
            {% if 'MI' in days %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_2" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="MI" id="id_dias_trabajo_2"
                    class="form-check-input" checked />
                  Miércoles
                </label>
              </div>
            {% else %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_2" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="MI" id="id_dias_trabajo_2"
                    class="form-check-input" />
                  Miércoles
                </label>
              </div>
            {% endif %}
            {% if 'JU' in days %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_3" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="JU" id="id_dias_trabajo_3"
                    class="form-check-input" checked />
                  Jueves
                </label>
              </div>
            {% else %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_3" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="JU" id="id_dias_trabajo_3"
                    class="form-check-input" />
                  Jueves
                </label>
              </div>
            {% endif %}
            {% if 'VI' in days %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_4" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="VI" id="id_dias_trabajo_4"
                    class="form-check-input" checked />
                  Viernes
                </label>
              </div>
            {% else %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_4" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="VI" id="id_dias_trabajo_4"
                    class="form-check-input" />
                  Viernes
                </label>
              </div>
            {% endif %}
            {% if 'SA' in days %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_5" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="SA" id="id_dias_trabajo_5"
                    class="form-check-input" checked />
                  Sábado
                </label>
              </div>
            {% else %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_5" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="SA" id="id_dias_trabajo_5"
                    class="form-check-input" />
                  Sábado
                </label>
              </div>
            {% endif %}
            {% if 'DO' in days %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_6" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="DO" id="id_dias_trabajo_6"
                    class="form-check-input" checked />
                  Domingo
                </label>
              </div>
            {% else %}
              <div class="form-check form-check-inline">
                <label for="id_dias_trabajo_6" class="form-check-label col-form-label">
                  <input type="checkbox" name="dias_trabajo" value="DO" id="id_dias_trabajo_6"
                    class="form-check-input" />
                  Domingo
                </label>
              </div>
            {% endif %}
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ml-n4_custom mt-n2">
          <label for="id_objetivos_generales" class="col-form-label pl-2 pb-0">Objetivos generales</label>
          {{form.objetivos_generales}}
        </div>
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ml-n4_custom mt-n2">
          <label for="id_actividades_realizar" class="col-form-label pl-2 pb-0">Actividades a realizar</label>
          {{form.actividades_realizar}}
        </div>

        <div class="row my-4">
          <a type="reset" class="btn shadow-none mx-5 btn-danger btn-lg" href="{% url 'solicitud_view' TOKEN %}">VOLVER<a/>
          <input type="submit" class="btn btn-default shadow-none btn-lg" name="BtnSubmit" value="Recorregir"></input>
        </div>

      </form>
      {% endif %}
    </div>
  </main>
  {% endblock %}
</body>

</html>

{% block js %}
<script type="text/javascript" src="{% static "js/tooltip.js" %}"></script>
<script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
{% endblock %}