<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header grey lighten-2">
      <h4 class="modal-title w-100 text-center" id="myModalLabel" style="font-weight: 500;font-size: 1.5rem;">Detalle Solicitud</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="fas fa-times fa-lg py-2 px-4"></span>
      </button>
    </div>
    <div class="modal-body grey lighten-5">

      <div class="row">
        <div class="col-12">
          <i class="fas fa-user fa-2x mr-3"></i>  <span class="detallesTitulo">Alumno</span>
        </div>
      </div>
      <br/>

      <!-- Visible only on xl -->
      <div class="d-none d-xl-block">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <span class="detallesFontVariable">Nombre:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.nombre}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
            <span class="detallesFontVariable">RUT:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.rut}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-6 col-xl-6">
            <span class="detallesFontVariable">Carrera:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.carrera}}</span>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <span class="detallesFontVariable">Correo:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.email}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2">
            <span class="detallesFontVariable">Telefono:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.telefono}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2">
            <span class="detallesFontVariable">Celular:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.celular}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
            <span class="detallesFontVariable">Año ingreso:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.started_year}}</span>
          </div>
        </div>
      </div>

      <br/>

      <!-- Visible all except xl -->
      <div class="d-block d-sm-block d-md-block d-lg-block d-xl-none">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-8 col-lg-6">
            <span class="detallesFontVariable">Nombre:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.nombre}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-3">
            <span class="detallesFontVariable">RUT:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.rut}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-3">
            <span class="detallesFontVariable">Año ingreso:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.started_year}}</span>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <span class="detallesFontVariable">Correo:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.email}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
            <span class="detallesFontVariable">Telefono:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.telefono}}</span>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-3">
            <span class="detallesFontVariable">Celular:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.celular}}</span>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-7">
            <span class="detallesFontVariable">Carrera:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.carrera}}</span>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <span class="detallesFontVariable">N° Práctica:</span>
            <span class="detallesFontResultado pl-1">{{solicitud.numero_practica}}</span>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <div class="row">
        <div class="col-12">
          <i class="fas fa-city fa-2x mr-3"></i> <span class="detallesTitulo">Empresa</span>
        </div>
      </div>
      <br/>

    <!-- Visible only on xl -->
    <div class="d-none d-xl-block">

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">Nombre:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.nombre_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">Dirección:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.direccion_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2">
          <span class="detallesFontVariable">Rubro:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.rubro_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">Website:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.website_empresa}}</span>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">País:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.pais.name}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">Región:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.region_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">Ciudad:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.ciudad_empresa}}</span>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">Contacto:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.contacto}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">Cargo:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.cargo_contacto}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">Correo:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.email_contacto}}</span>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">Teléfono:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.telefono_contacto}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">FAX:</span>
          <span class="detallesFontResultado">{{solicitud.fax_contacto}}</span>
        </div>

        {% if solicitud.trabaja_empresa %}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable pr-2">Trabaja aquí:</span> <i class="fas fa-check fa-lg"></i>
        </div>
        {% else %}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable pr-2">Trabaja aquí:</span> <i class="fas fa-times fa-lg"></i>
        </div>
        {% endif %}
      </div>

    </br>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">Total empleados empresa:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.empleados_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <span class="detallesFontVariable">Total empleados IT:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.empleados_IT}}</span>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <span class="detallesFontVariable">Descripción de la empresa</span>
          </br>
          <span class="detallesFontResultado">{{solicitud.descripcion}}</span>
        </div>
      </div>
    </div>

    <!-- Visible all except xl -->
    <div class="d-block d-sm-block d-md-block d-lg-block d-xl-none">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <span class="detallesFontVariable">Nombre:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.nombre_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <span class="detallesFontVariable">Dirección:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.direccion_empresa}}</span>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <span class="detallesFontVariable">Rubro:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.rubro_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <span class="detallesFontVariable">Website:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.website_empresa}}</span>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <span class="detallesFontVariable">País:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.pais.name}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <span class="detallesFontVariable">Región:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.region_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <span class="detallesFontVariable">Ciudad:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.ciudad_empresa}}</span>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <span class="detallesFontVariable">Contacto:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.contacto}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <span class="detallesFontVariable">Cargo:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.cargo_contacto}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <span class="detallesFontVariable">Correo:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.email_contacto}}</span>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <span class="detallesFontVariable">Teléfono:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.telefono_contacto}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <span class="detallesFontVariable">FAX:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.fax_contacto}}</span>
        </div>

        {% if solicitud.trabaja_empresa %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <span class="detallesFontVariable pr-2">Trabaja aquí:</span> <i class="fas fa-check fa-lg"></i>
        </div>
        {% else %}
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <span class="detallesFontVariable pr-2">Trabaja aquí:</span> <i class="fas fa-times fa-lg"></i>
        </div>
        {% endif %}
      </div>

      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <span class="detallesFontVariable">Total empleados empresa:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.empleados_empresa}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <span class="detallesFontVariable">Total empleados IT:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.empleados_IT}}</span>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <span class="detallesFontVariable">Descripción de la empresa</span>
          </br>
          <span class="detallesFontResultado">{{solicitud.descripcion}}</span>
        </div>
      </div>
    </div>

      <br/>
      <br/>

      <div class="row">
        <div class="col-12">
          <i class="fas fa-hard-hat fa-2x mr-4"> </i><span class="detallesTitulo">Práctica</span>
        </div>
      </div>
      <br/>

    <!-- Visible only on xl -->
    <div class="d-none d-xl-block">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">Fecha inicio:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.inicio_practica}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2">
          <span class="detallesFontVariable">Horas diarias:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.horas_diarias}}</span>
        </div>
      </div>

      </br>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">Fecha termino:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.termino_practica}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <span class="detallesFontVariable">Días a trabajar:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.dias_trabajo}}</span>
        </div>
      </div>

        <br/>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <span class="detallesFontVariable">Objetivos generales</span>
          </br>
          <span class="detallesFontResultado">{{solicitud.objetivos_generales}}</span>
        </div>
      </div>

        <br/>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <span class="detallesFontVariable">Actividades a realizar</span>
          </br>
          <span class="detallesFontResultado">{{solicitud.actividades_realizar}}</span>
        </div>
      </div>
    </div>

    <!-- Visible all except xl -->
    <div class="d-block d-sm-block d-md-block d-lg-block d-xl-none">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <span class="detallesFontVariable">Fecha inicio:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.inicio_practica}}</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <span class="detallesFontVariable">Horas diarias:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.horas_diarias}}</span>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <span class="detallesFontVariable">Fecha termino:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.termino_practica}}</span>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <span class="detallesFontVariable">Días a trabajar:</span>
          <span class="detallesFontResultado pl-1">{{solicitud.dias_trabajo}}</span>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <span class="detallesFontVariable">Objetivos generales</span>
          </br>
          <span class="detallesFontResultado">{{solicitud.objetivos_generales}}</span>
        </div>
      </div>

        <br/>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <span class="detallesFontVariable">Actividades a realizar</span>
          </br>
          <span class="detallesFontResultado">{{solicitud.actividades_realizar}}</span>
        </div>
      </div>
    </div>

      <br/>
      <br/>

      <div class="row">
        <div class="col-12 pb-3">
          <i class="fas fa-th fa-2x mr-3"></i> <span class="detallesTitulo">Malla: </span>
          {% if 'APROBADA' in solicitud.malla %}
            <span class="text-success detallesTitulo pl-1"> {{solicitud.malla}}</span>
          {% elif 'CONDICIONAL' in solicitud.malla %}
            <span class="text-warning detallesTitulo pl-1"> {{solicitud.malla}}</span>
          {% elif 'RECHAZADA' in solicitud.malla %}
            <span class="text-danger detallesTitulo pl-1"> {{solicitud.malla}}</span>
          {% endif %}

        </div>
      </div>

    </div>
    <div class="modal-footer grey lighten-5 justify-content-center">
      <button type="button" class="btn btn-default shadow-none btn-lg" data-dismiss="modal">Cerrar</button>
      <form action="{% url 'approve_solicitud' solicitud.pk TOKEN%}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn shadow-none btn-success mx-5 btn-lg" name="BtnSubmit" value="Aprobar"></input>
      </form>
        {% csrf_token %}
        <button class="btn shadow-none btn-danger btn-lg" onclick="return open_modal('{% url 'reject_solicitud' solicitud.pk TOKEN %}')" data-placement="top">Rechazar</button>
    </div>
  </div>
</div>
