* {
   font-size: 12px;
   line-height: 1.428;
}

.input-field>label {
  color: #000000;
  font-size: 18px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #747474;
  opacity: 1 !important;
}

.custom-select{
  background-color: #EBEBEB;
  font-size: 1.3rem;
}

.form-control{
  font-size: 1.3rem;
}

.btnpad1right{
  margin-right: 1px !important;
}

.btnpad1left{
  margin-left: 1px !important;
}

.container-fluid {
padding-top: 50px;
padding-left: 100px;
padding-right: 100px;
}

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.thead_solicitudes{
  background-color: #0BAB64 ;
  color: #FFFFFF;
}
/* thead{
    background-color: #0BAB64 ;
    color: #FFFFFF;
} */

tr.text-center td{
    border-width: 1.5px 0;
    border-color: #ebebeb;
    border-style: solid;
}

.error {
    font-weight: bold;
    font-size: 0.9em
}

.md-form label.active {
  font-size: 1.5rem;
  color: black;
  font-weight:400;
}

.col-form-label {
  font-size: 1.3rem;
  color: black;
  font-weight:400;
  margin-left: -6px !important;
}

.custom-label {
  font-size: 1.1rem;
  color: black;
  font-weight:400;
  margin-bottom: 0px !important;
}

.col-form-a{
  font-size: 1.3rem;
  font-weight:400;
  margin-left: -6px !important;
}

.form-control-lg{
  font-size: 1.3rem;
  margin-top: 4px !important;
  color: rgb(77, 77, 77);
}

.form-control-textoseguido{
  font-size: 1.3rem;
  color: rgb(77, 77, 77);
}

.spaceinputlabel{
  margin-left: -5px !important;
  margin-bottom: -3px !important;
}

.big-checkbox {
  width: 30px;
  height: 30px;
}

.w-85{
  width: 85% !important;
}

.w-90{
  width: 90% !important;
}

.ml-n4_custom{
  margin-left: -1.8rem!important;
}

.btn.btn-lg{
  font-size: 1.1rem !important;
  font-weight: 500 !important;
}

.iconoYtitulo{
  font-size: 1.2rem !important;
  font-weight: bold;
}

.nopadding {
   padding: 0 !important;
}

.nomargin{
  margin: 0 !important;
}



.transparentBG {
  background-color: rgba(0,0,0,0);
  hover: rgba(0,0,0,0);
}

.nohover:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.tooltip-inner {
  max-width: 365px;
  /* width: 350px; */
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6{
  font-weight: 100;
}

.detallesTitulo{
  font-size: 1.5rem !important;
  font-weight: 700;
}

.detallesFontVariable{
  font-size: 1.25rem !important;
  font-weight: 500;
}

.detallesFontResultado{
  font-size: 1.25rem !important;
  font-weight: 100;
}

.tablaFont{
  font-size: 1.3rem !important;
  font-weight: 400 !important;
}